__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env
# Build / packaging
build/
dist/
*.egg-info/
.Python

# Caches and logs
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDEs/editors
.vscode/
.idea/

# zip files
*.zip

*.parquet

# trained models
*.pt

results/*.csv