name: Test
on: [ push, pull_request ]

jobs:
  pytest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
            version: "0.9.15"
            enable-cache: true

      - name: Install wet-net
        run: uv sync --locked --dev

      - name: Run tests
        run: uv run pytest tests -v
